<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a href="/upgrade-account/admin">Upgrade to Admin</a></li>
      <li><a href="/upgrade-account/club-member">Upgrade to Club Member</a></li>
    </ul>
  </body>
</html>
