/* ---------- CSS RESET ---------*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ---------- CSS RESET -------- */

/* ---------- VARIABLES -------- */

:root {
  --color-accent: #3b413cff; /* Charcoal-Brown */
  --color-secondary: #9db5b2ff; /* Ash-Grey */
  --color-background: #daf0eeff; /* Light-Cyan */
  --color-primary: #94d1beff; /* Pearl-Aqua */
}

/* ---------- VARIABLES -------- */

/* ----------- NAVBAR ---------- */

header {
  display: flex;
  justify-content: center;
}

header nav,
header nav ul {
  display: flex;
  align-items: center;
}

header nav {
  gap: 5rem;
  background-color: var(--color-accent);
  color: white;

  justify-content: space-between;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border-radius: 50px; /* fully rounded edges */
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

header nav .logo {
  width: 50px;
  background-color: white;
  border-radius: 50%;
  padding: 0.1rem;
}

header nav ul {
  list-style: none;
  gap: 2rem;
}

header nav ul li {
  text-decoration: none;
}

header nav a {
  text-decoration: none;
  color: inherit;
}

/* ----------- NAVBAR ---------- */

/* ---------- CONTENT ---------- */

body {
  background-color: var(--color-background);
}

html,
body {
  width: 100%;
  height: 100%;
}

/* ---------- CONTENT ---------- */

/* ---------- MESSAGES --------- */
.posts-container {
  display: flex;
  flex-direction: column;
}

/* ---------- MESSAGES --------- */

/* ---------- Errors ----------- */
.error {
  color: red;
  font-size: 0.8rem;
}

.errors {
  color: red;
}

/* ---------- Errors ----------- */
