/* ---------- CSS RESET ---------*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ---------- CSS RESET -------- */

/* ---------- VARIABLES -------- */

:root {
  --color-accent: #3b413cff; /* Charcoal-Brown */
  --color-secondary: #9db5b2ff; /* Ash-Grey */
  --color-background: #daf0eeff; /* Light-Cyan */
  --color-primary: #94d1beff; /* Pearl-Aqua */
}

/* ---------- VARIABLES -------- */

/* ----------- NAVBAR ---------- */

header {
  position: sticky;
  /* left: 50%; */
  /* transform: translate(-50%); */
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 10000;
}

header nav,
header nav ul {
  display: flex;
  align-items: center;
}

header nav {
  gap: 5rem;
  background-color: var(--color-accent);
  color: white;

  justify-content: space-between;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border-radius: 50px; /* fully rounded edges */
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

header nav .logo {
  width: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 0.1rem;
}

header nav ul {
  list-style: none;
  gap: 2rem;
}

header nav ul li {
  text-decoration: none;
  flex-shrink: 0;
}

header nav a {
  text-decoration: none;
  color: inherit;
}

/* ----------- NAVBAR ---------- */

/* ---------- CONTENT ---------- */

body {
  background-color: var(--color-background);
}

html,
body {
  width: 100%;
  height: 100%;
}

/* ---------- CONTENT ---------- */

/* ---------- ACCOUNT ---------- */

.user-info-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.103);
  padding: 2rem;
  gap: 1rem;
}

.user-info-container form input {
  border: none;
  outline: none;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.507);
}

.user-info-container__name > div,
.user-info-container form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-info-container form .user-info-container__name {
  flex-direction: row;
  gap: 1rem;
}

/* ---------- ACCOUNT ---------- */

/* ---------- MESSAGES --------- */
.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.posts-container__card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.459);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  gap: 0.2rem;
  border: var(--color-accent) 4px solid;
}

.posts-container__card div {
  display: flex;
  justify-content: space-between;
  color: grey;
  margin-top: 1rem;
}

.delete-post {
  position: absolute;
  right: 30px;
  top: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.delete-post img {
  width: 20px;
}

.create-new-post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
  max-width: 400px;
  align-items: stretch;
}

.create-new-post div {
  display: flex;
  flex-direction: column;
}

.create-new-post > div input,
.create-new-post > div textarea {
  width: 100%;
}

.create-new-post textarea {
  max-height: 300px;
  max-width: inherit;
  height: 100%;
}

/* ---------- MESSAGES --------- */

/* ----------- FORMS ----------- */

.form-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

form div {
  display: flex;
  flex-direction: column;
}

form button {
  background-color: var(--color-accent);
  padding: 0.3rem 1rem;
  color: white;
  cursor: pointer;
  border: none;
}

form > div input,
form textarea {
  border: none;
  outline: none;
  padding: 0.3rem;
}

form > div input:focus,
form > div textarea:focus {
  outline: var(--color-accent) 2px solid;
}

form button:hover {
  opacity: 0.8;
}

.login .passwordsContainer,
.login .namesContainer,
.signup .passwordsContainer,
.signup .namesContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* ----------- FORMS ----------- */

/* ----------- ADMIN ----------- */

.admin-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------- ADMIN ----------- */

/* ---------- ERRORS ----------- */
.error {
  color: red;
  font-size: 0.8rem;
}

.errors {
  color: red;
}

/* ---------- ERRORS ----------- */

/* ---------- STATUS ----------- */

.status-container {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ---------- STATUS ----------- */
